aiohttp==3.13.3
beautifulsoup4==4.14.3

langchain==1.2.7
langchain-openai==1.1.7
langchain-text-splitters==1.1.0
langgraph==1.0.7

Pillow==12.1.0
PyMuPDF==1.26.7
pydantic==2.12.5

paddlepaddle==3.2.2
paddleocr==3.3.2
paddlex[ocr]==3.3.12